@model IEnumerable<thcp3.Models.Departament>

@{       ViewData["Title"] = "Departamentos";
}
<h2>Lista de Departamentos</h2>

<p>
    <a asp-action="Create" class="btn btn-success" >Nuevo</a>

    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartamentName)
                </th>

                <th></th>


            </tr>


        </thead>


        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DepartamentName)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.DepartamentId">Editar</a>
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.DepartamentId">Detalles</a>
                    <a asp-action="Delete" class="btn btn-danger"asp-route-id="@item.DepartamentId">Borrar</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
</p>